## String INDEX and SLICING

In [26]:
Mystring = "HELLO World"
testa = len(Mystring)
print(testa)

testb = Mystring [1:7:3]
testc = Mystring[-1]
testd = Mystring[2:]
print(testb)
print(testc)
print(testd)
print(type(Mystring))
Mystring.upper() #using tab to see function option

11
EO
d
LLO World
<class 'str'>

'HELLO WORLD'

# STRING FORMATTING 

there are 3 main ways to format pyhton strings :  
    
1. %s  / %r (exact)  
    
2. {} + .format()  
    
3. f' + {} '

In [46]:
# example for number 1 
print( "i'm going to inject something %s here and %s here" % ('a','b'))
print('\n')
print("there's a baboon in my %r" % '\t house')
print("there's a baboon in my %s" % '\t house')
print('\n')
print('This is my ten-character, two-decimal number:%6.2f' %13.579)
print('\n')
# example for number 2
print('i always work {}'.format("hard"))
print('First Object: {a}, Second Object: {b}, Third Object: {c}'.format(a=1,b='Two',c=12.3))
print('\n')
print('{0:<8} | {1:^8} | {2:>8}'.format('Left','Center','Right'))
print('{0:<8} | {1:^8} | {2:>8}'.format(11,22,33))
print('\n')
print('This is my ten-character, two-decimal number:{0:10.2f}'.format(13.579))
print('\n')
# example for number 3
print(f'asdasdsadsadsadasdsd {Mystring}')
print('\n')
num = 23.45
# u can use .format() in F-strings
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:10.4f}")

i'm going to inject something a here and b here


there's a baboon in my '\t house'
there's a baboon in my 	 house


This is my ten-character, two-decimal number: 13.58


i always work hard
First Object: 1, Second Object: Two, Third Object: 12.3


Left     |  Center  |    Right
11       |    22    |       33


This is my ten-character, two-decimal number:     13.58


asdasdsadsadsadasdsd HELLO World


My 10 character, four decimal number is:   23.4500
My 10 character, four decimal number is:   23.4500

# LIST AND DICTIONARY

List = [   ] >> list are mutable, so the element inside the list can be changed  
Dictionary{key : Value} >> just like a SQL table, a value can contain list

## Python LIST

In [61]:
# Index and slicing list
mylist = ["sdasdsad",355,'545',9.000]
print(len(mylist))
#start
a = mylist[:3] #slicing
b = "sdsadasd"
mylista= mylist + a
print(mylista) #list can add another list (not ONLY int or str. example : b )

4
['sdasdsad', 355, '545', 9.0, 'sdasdsad', 355, '545']

basic list method:  
* append >> add int or str to list element
* pop >> drop element from list
* reverse >> reverse the arrangement
* sort >> sorting list asc/dsc but only for same type

In [68]:
list1 = [1,2,3,"a","b","c"]
list1.append("d")
list1

[1, 2, 3, 'a', 'b', 'c', 'd']

In [70]:
list1.pop(3)
list1

[1, 2, 3, 'c', 'd']

In [79]:
list1.reverse()
list1

[1, 2, 3, 'c', 'd']

## list nesting (matrix)

In [91]:
ls1= [1,2,3]
ls2= [4,5,6]
ls3= [7,8,9]
matrix = [ls1,ls2,ls3]
print(matrix)
print(matrix[0])
print(matrix[0][2])

secondcolumn = [col[1] for col in matrix]
secondcolumn

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
3

[2, 5, 8]

## Python DICTIONARY

In [117]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}
print(my_dict['key2'])
print(my_dict['key2'][1])
print(my_dict["key3"][1].capitalize())
my_dict['key4'] = 'sadsadsad'
print(my_dict)
print(my_dict.pop("key4"))
my_dict

[12, 23, 33]
23
Item1
{'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2'], 'key4': 'sadsadsad'}
sadsadsad

{'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

There are few dict method such as :  
* d.key  
* d.value  
* d.items

In [120]:
d = {'key1':1,'key2':2}
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['key1', 'key2'])
dict_values([1, 2])
dict_items([('key1', 1), ('key2', 2)])

## Tuples, Sets and Booleans  

* Tuple are just like list but Immutable, can contain same value, fewer built-in method can be applied to tuple t = (...)
* Sets are mutable but contain unique values x = set()
* Booleans >> true/ false

In [134]:
#sets
listx = [1,1,1,2,3,4,4,5,6,7]
a = set(listx)
print(a)
print('\n')
#tuples
tup = (9,10)
c = (11,12,13)
xx = tup + c
print(xx)
print('\n')
#booleans
bcd = 20
abc = bcd < 2000
print(type(abc))
abc

{1, 2, 3, 4, 5, 6, 7}


(9, 10, 11, 12, 13)


<class 'bool'>

True